/node_modules
/public/hot
/public/storage
/public/file
/public/error_log
/storage/*.key
/vendor
.env
.env.backup
.htaccess
.phpunit.result.cache
composer.lock
docker-compose.override.yml
error_log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
**/.DS_Store
*.sql
